body{
    font-family: 'Cabin', sans-serif;
}

.site_banner{
    display: flex;
    background-color: #040c3d;
    justify-content: space-around;
    align-items: center;
}

.banner_logo{
    margin: 10px;
}

.logo{
    height: 50px;
    width: 100px;
}

.title{
    font-weight: 700;
    color: #ffffff ;
}

.list_menu{
    display: flex;
    justify-content: space-around;
    align-content: flex-end;
    align-content: flex-end;
    list-style: none;
    background-color: #040c3d;
}

.menu{
    justify-items: center;
    justify-content: center;
}

.accueil{
    order: 0;
}

.evenement{
    order: 1;
}

.a_propos{
    order: 3;
}

.boutique{
    order: 2;
}

.main_content{
    display: flex;
}

.section_content{
    flex: 3;
    display: flex;
    flex-direction: column;
}

.first_section_content{
    display: flex;
    flex-flow: row wrap ;
}

.box{
    display: flex;
    width: 480px;
    height: 110px;
    display: flex;
    border-radius: 10px;
    margin-left: 60px;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.b1999{
    background-color: #dceef8;
   
}
.b2002{
    background-color: #b2ddf5 ;
}

.b2008{
    background-color: #9dd5f4 ;
}

.b2016{
    background-color: #80caf3 ;
}

.b2019{
    background-color: #65c0f3 ; 
}

.soccer_field{
    width: 420px ;
    height: 595px ;
    margin-left: 60px;
}

.second_section_content{

}

.aside_content{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h2{
    text-align: center;
}

h3{
    background: top #cce8f8 ;
    border-start-start-radius: 20px;
    border-top-right-radius: 20px;
    
}

h4{
    font-size: 3vh;
    text-decoration: underline;
}

.shop_content , .match_content , .access_plan {
    text-align: center;
    border-radius: 20px;
    border-color: #040c3d;
    border-bottom-left-radius: round;
    border-style: solid;
    margin: 10px;
    box-shadow: -36px 36px 9px -19px rgba(8,8,8,0.85);
}

.logo_Canal{
    width : 80px;
    height : 20px;
    margin-top: -30px;
}

.logo_match{
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;

}

.logo_Studi {
    margin-right: -30px; 
    width : 80px ;
    height: 50px ; 
    margin-bottom: 5px;  
}

.logo_Galileo{
    margin-left: -30px;
    width : 80px ;
    height: 50px ;
    margin-bottom: 5px;
} 

